<section>
    <div class="bgNav1 ps-lg-5 pe-lg-5">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row">
                <div class="border1 p-2 ps-3 pe-3">
                    <a class="textDecorationNoneColor1 icons1" href="http://www.facebook.com"><i
                            class="fa-brands fa-facebook"></i></a>
                </div>
                <div class="border2 p-2 ps-3 pe-3">
                    <a class="textDecorationNoneColor1 icons1" href="http://www.instagram.com"><i
                            class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="d-flex justify-content-center align-items-center ps-1">
                    <span class=" fw-bolder text-light">RH MANAGEMENT</span>
                </div>
            </div>
            <div class="d-flex align-items-center column1">
                <div class="border1 p-2">
                    <a class="textDecorationNoneColor1" href="tel:+1-800-456-478-23">
                        <i class="fa-solid fa-phone text-light"></i>
                        +1-800-456-478-23
                    </a>
                </div>
                <div class="border2 p-2">
                    <a class="textDecorationNoneColor1" href="mailto:rh_management@mail.com">
                        <i class="fa-regular fa-envelope text-light"></i>
                        rh_management@mail.com</a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-light d-flex flex-column">
        <div class="container-fluid d-flex">
            <div class="d-flex flex-row">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand me-5 ms-3" href="#">
                    <img width="75" height="75" src="assets/img/logo.jpeg">
                </a>
            </div>
            <div class="collapse navbar-collapse pt-2 pb-2" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="textDecorationNoneColor2 p-3 fw-bold" routerLink="/"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="textDecorationNoneColor2 p-3 fw-bold" routerLink="/contacto">Contactanos</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-row">
                <!-- <a class="sizeColor d-flex flex-column align-items-center pe-2" href=""><i class="fa-solid fa-user-plus"></i>Registrarse</a> -->
                <div class="d-flex flex-row align-items-center">
                    <a class="sizeColor d-flex flex-column align-items-center pe-2" routerLink="/ingreso">
                        <i class="fa-solid fa-user-plus"></i>Iniciar sesion
                    </a>
                </div>
            </div>
        </div>
    </nav>

</section>
