<app-navbar></app-navbar>
<!-- container 1 blabla-->
<section class="container-fluid col-12 p-5 mb-4 container1Params d-flex flex-wrap justify-content-center">
    <div class="fw-bold col-12 p-0 m-0  mb-3 subtitle text-center">CONTACTARNOS</div>
    <h1 class="H1C1Params col-12 col-lg-7 p-0 m-0 text-center text-3D fs-1 fw-bold">¡Ponemos su proyecto en marcha!</h1>
    <!-- mettons su projet en route! -->
</section>

<!-- container 2 -->
<section class="container-fluid col-12 p-5 container2Params d-flex flex-wrap">
    <div class="row align-items-start row-padding">
        <!-- container hija left -->
        <div class="col-12 col-lg-4 p-0 pr-lg-5 m-0 d-flex flex-wrap">
            <div class="fw-bold col-12 mb-4 subtitle">PROCESOS</div>
            <h2 class="H2C2Params col-12 col-lg-7 fs-1 fw-bold">Descubre como contactarnos</h2>
            <div class="col-12 p-0 m-0 fs-4 discover fw-semibold"> Descubre el proceso </div>

        </div>
        <!-- container hija right -->
        <div class="col-12 col-lg-8 p-0 m-0 pl-lg-4 d-flex flex-wrap">
            <div class="divHijaLeft col-12 col-lg-6 p-0 pr-lg-4 d-flex flex-wrap position-relative align-items-start">
                <div class="col-12 d-flex flex-wrap justify-content-center">
                    <div class="col-12 p-3 card-process1 d-flex flex-wrap justify-content-center align-card">
                        <div class="numeroParams">
                            <p class="numParamsP numero-3D fw-bolder">1</p>
                        </div>
                        <div class="fw-bold col-12 text-center p-0 my-3">Solicitar una llamada</div>
                        <div class="textCentral col-12 text-center">Una vez que se envíe el formulario, nos
                            comunicaremos con usted para discutir sus problemas y objetivos en detalle.</div>
                        <div class="textCentral col-12 text-center">Sin embargo, puedes contactarnos primero vía llamada <a
                                href="https://api.whatsapp.com/"> whatsapp</a> donde un asesor responderá tus inquietudes.</div>

                    </div>
                </div>
            </div>
            <div class="divHijaRight col-12 col-lg-6 p-0 pl-lg-4">
                <div class="col-12 p-0 m-0">
                    <div class="col-12 card-process2 d-flex flex-wrap justify-content-center p-3">
                        <div class="numeroParams">
                            <p class="numParamsP numero-3D fw-bolder">2</p>
                        </div>
                        <div class="fw-bold col-12 text-center p-0 my-3">Analizar su proyecto</div>
                        <div class="textCentral col-12 text-center">Te facilitamos un presupuesto de tu proyecto al
                            detalle (servicios solicitados, precio, calendario provisional y equipo a cargo de tu
                            proyecto)</div>
                    </div>
                </div>
                <div class="col-12 p-0 m-0 mt-5">
                    <div class="col-12 card-process1 d-flex flex-wrap justify-content-center p-3">
                        <div class="numeroParams">
                            <p class="numParamsP numero-3D fw-bolder">3</p>
                        </div>
                        <div class="fw-bold col-12 text-center p-0 my-3">En el trabajo!</div>
                        <div class="textCentral col-12 text-center">Una vez aceptada la propuesta y firmado el contrato,
                            ¡su proyecto puede comenzar! Confía en nosotros, ¡solo puedes estar satisfecho con el
                            resultado!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- container 3 formulario qsdfghjkhgfdsfghjkhgfds-->
<section class="container-fluid col-12 pt-lg-5 container3Params">
    <form [formGroup]="contactoForm" (ngSubmit)="mandarMensaje()" class="row align-items-start ms-5" name="formulario">
        <div class="col-12 col-lg-6 pb-3 p-0 m-0 d-flex flew-wrap">
            <div>
                <h4 class="mb-3 ">Sus datos</h4>
                <div class="row">
                    <div class="col-9 ms-5 p-0 pl-lg-2">
                        <div class="md-form mb-0">
                            <label for="form_contact_nombre" class="active">Nombres</label>
                            <input formControlName="nombres" type="text" name="form_contact_nombre"
                                id="form_contact_nom" class="form-control shadow " placeholder="Su nombre" required="">
                            <span
                                *ngIf="contactoForm.get('nombres')?.hasError('required') && contactoForm.get('nombres')?.touched"
                                type="text" class="spanParams fw-bold ps1">nombre invalido</span>
                        </div>
                    </div>
                    <div class="col-9 ms-5 p-0 pl-lg-2 mt-1 mb-2 ">
                        <div class="md-form mb-0">
                            <label for="form_contact_nom" class="active">Apellidos</label>
                            <input formControlName="apellidos" type="text" name="form_contact_apellidos"
                                id="form_contact_nom" class="form-control shadow" placeholder="Sus apellidos"
                                required="">
                            <span
                                *ngIf="contactoForm.get('apellidos')?.hasError('required') && contactoForm.get('apellidos')?.touched"
                                type="text" class="spanParams fw-bold ps1">apellidos invalidos</span>

                        </div>
                    </div>
                    <div class="col-9 ms-5 p-0 pl-lg-2 mt-1 mb-2 ">
                        <div class="md-form mb-0">
                            <label for="mail" class="active">Correo electronico</label>
                            <input formControlName="correo" type="email" name="form_contact_correo"
                                id="form_contact_nom" class="form-control shadow" placeholder="Su correo electronico"
                                required="">
                            <span
                                *ngIf="contactoForm.get('correo')?.hasError('pattern') && contactoForm.get('correo')?.touched"
                                type="text" class="spanParams fw-bold ps1">Correo invalido</span>
                        </div>
                    </div>
                    <div class="col-9 ms-5 p-0 pl-lg-2 mt-1 ">
                        <div class="md-form mb-4">
                            <label for="form_contact_nom" class="active">Telefono</label>
                            <input formControlName="telefono" type="number" name="form_contact_nom"
                                id="form_contact_nom" class="form-control shadow" placeholder="Su telefono" required="">
                            <span
                                *ngIf="contactoForm.get('telefono')?.hasError('pattern') && contactoForm.get('telefono')?.touched"
                                type="text" class="spanParams fw-bold ps1">telefono invalido</span>
                        </div>
                    </div>

                    <h4>Su empresa</h4>

                    <div class="col-9 ms-5 p-0 pl-lg-2 mt-2 mb-2 ">
                        <div class="md-form mb-0">
                            <label for="form_contact_nombre" class="active">Nombre de la empresa</label>
                            <input formControlName="nombreEmp" type="text" name="form_contact_nombre_empresa"
                                id="form_contact_nombre_empresa" class="form-control shadow"
                                placeholder="Nombre de la empresa" required="">
                            <span
                                *ngIf="contactoForm.get('nombreEmp')?.hasError('required') && contactoForm.get('nombreEmp')?.touched"
                                type="text" class="spanParams fw-bold ps1">Nombre de la empresa invalido</span>
                        </div>
                    </div>
                    <div class="col-9 ms-5 p-0 pl-lg-2 mt-1 mb-2 ">
                        <div class="md-form mb-0">
                            <label for="form_contact_nom" class="active">Sitio internet de la empresa</label>
                            <input formControlName="sitioEmp" type="text" name="form_contact_apellidos"
                                id="form_contact_nom" class="form-control shadow" placeholder="Su sitio" required="">
                            <span
                                *ngIf="contactoForm.get('sitioEmp')?.hasError('pattern') && contactoForm.get('sitioEmp')?.touched"
                                type="text" class="spanParams fw-bold ps1">Direccion invalido</span>
                        </div>
                    </div>

                    <div class="col-9 ms-5 p-0 pl-lg-2 mt-1 mb-2 required">
                        <label for="validationCustom04" class="form-label">Tipo de empresa</label>
                        <select formControlName="tipoEmp" class="form-select shadow" id="validationCustom04" required>
                            <option selected disabled value="">Choose...</option>
                            <option>Nueva, -12 meses</option>
                            <option>Existante, +12 meses</option>
                        </select>
                        <span
                            *ngIf="contactoForm.get('tipoEmp')?.hasError('required') && contactoForm.get('tipoEmp')?.touched"
                            type="text" class="spanParams fw-bold ps1">Tipo invalido</span>

                    </div>
                    <div class="col-9 ms-5 p-0 pl-lg-2 mt-1 mb-2">
                        <label for="validationCustom04" class="form-label">Categoria</label>
                        <select formControlName="categoriaEmp" class="form-select shadow" id="validationCustom04"
                            required>
                            <option selected disabled value="">Choose...</option>
                            <option>Agro-alimentaria</option>
                            <option>T.P.E./P.M.E</option>
                            <option>Logistica</option>
                            <option>Negocio</option>
                            <option>Redes y franquicia</option>
                            <option>Start-up</option>
                            <option>Otros</option>
                        </select>
                        <span
                            *ngIf="contactoForm.get('categoriaEmp')?.hasError('required') && contactoForm.get('categoriaEmp')?.touched"
                            type="text" class="spanParams fw-bold ps1">Categoria invalido</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="contHijaRight col-md-12 col-lg-6 p-0">
            <div>
                <h4 class="mb-4">Su proyecto</h4>
                <div class="ms-3 me-5" action="">
                    <div class="formParams">
                        <div class="card cardParams form-check checkCard mb-3 shadow">
                            <input class="form-check-input checkParams " formControlName="softErpBox" type="checkbox"
                                value="">
                            <a class="mt-3" href=""><img src="assets/img/erp (2).png" alt="" style="width: 40px;"></a>
                            <div class="card-body mt-1">
                                <h5 class="card-title0 text_card">Soft E.R.P.</h5>
                                <span *ngIf="contactoForm.get('softErpBox')?.value" class="spanParamsBox2 fw-bold"
                                    style="font-size: 10px;">Proximamente</span>
                            </div>

                        </div>
                        <div class="card cardParams form-check checkCard mb-3 shadow">
                            <input class="form-check-input checkParams" formControlName="gestPersoBox" type="checkbox"
                                value="Gestion administrativa">
                            <a class="mt-3" href=""><img src="assets/img/administrateur.png" alt=""
                                    style="width: 40px;"></a>
                            <div class="card-body mt-1">
                                <h5 class="card-title1 text_card mb-1">Gestión administrativa</h5>
                            </div>
                        </div>
                        <div class="card cardParams form-check checkCard mb-3 shadow">
                            <input class="form-check-input checkParams" formControlName="gestAusBox" type="checkbox"
                                value="Gestion de las ausencias">
                            <a class="mt-3" href=""><img src="assets/img/la-discipline.png" alt="" style="width: 40px;"
                                    srcset=""></a>
                            <div class="card-body mt-1">
                                <h5 class="card-title2 text_card">Gestión de las ausencias</h5>
                            </div>
                        </div>
                        <div class="card cardParams form-check checkCard mb-3 shadow">
                            <input class="form-check-input checkParams" formControlName="ProceRhBox" type="checkbox"
                                value="Automatizacion de proceso RH">
                            <a class="mt-3" href=""><img src="assets/img/gestion-dequipe.png" alt=""
                                    style="width: 40px;" srcset=""></a>
                            <div class="card-body mt-1">
                                <h5 class="card-title3 text_card">Automatización de proceso RH</h5>
                            </div>
                        </div>
                        <div class="card cardParams form-check checkCard mb-3 shadow">
                            <input class="form-check-input checkParams" formControlName="ventajasBox" type="checkbox"
                                value="Ventajas y remuneraciones">
                            <a class="mt-3" href=""><img src="assets/img/compensation.png" alt="" style="width: 40px;"
                                    srcset=""></a>
                            <div class="card-body mt-1">
                                <h5 class="card-title4 text_card">Ventajas y remuneraciones</h5>
                            </div>
                        </div>
                        <div class="card cardParams form-check checkCard mb-3 shadow">
                            <input class="form-check-input checkParams" formControlName="otroBox" type="checkbox"
                                value="Otro">
                            <a class="mt-3" href=""><img src="assets/img/execution.png" alt="" style="width: 40px;"
                                    srcset=""></a>
                            <div class="card-body mt-1 text-center">
                                <h5 class="card-title5 text_card">Otro</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ms-4 me-5" action="">
                    <div class="form-floating mt-3 textAreaMarg">
                        <textarea formControlName="mensajeBox" class="form-control"
                            placeholder="comentario del proyecto" id="floatingTextarea2"
                            style="height: 200px"></textarea>
                        <label for="floatingTextarea2">Descripcion del proyecto</label>
                        <span
                            *ngIf="contactoForm.get('mensajeBox')?.hasError('required') &&contactoForm.get('mensajeBox')?.touched"
                            type="text" class="spanParams   fw-bold ps1">Explicanos màs de tu proyecto, por favor</span>
                    </div>
                    <div>
                        <button class="btn btnParams mt-4 p-3 fw-bold" type="onsubmit" [disabled]="contactoForm.invalid" (click)="mandarMensaje()">ENVIAR MENSAJE</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<app-footer></app-footer>
