<footer class="backFooter">
    <section class="d-flex flex-column">
        <section class="row px-5 pt-5">
            <div class="d-flex flex-column col-lg-3 col-4 text-center">
                <a class="textDecorationNoneColor1 pb-3 me-2" href="">
                    <img class="logoFooter w-50" src="assets/img/logo.jpeg" alt="LOGO">
                    <h6 class="pt-2">RH MANAGEMENT</h6>
                </a>
            </div>
            <div class="d-flex flex-column col-lg-3 col-4">
                <h5 class="text-light fw-bold pb-4">Links</h5>
                <a class="textDecorationNoneColor1 pb-2" routerLink="/">Inicio</a>
                <a class="textDecorationNoneColor1 pb-2" href="#">Servicios</a>
                <a class="textDecorationNoneColor1 pb-2" routerLink="/contacto">Contactanos</a>
            </div>
            <div class="d-flex flex-column col-lg-3 col-4">
                <h5 class="text-light fw-bold pb-4">Contactanos</h5>
                <a class="textDecorationNoneColor1" href="tel:+1-800-456-478-23">
                    <i class="fa-solid fa-phone text-light"></i>
                    +1-800-456-478-23
                </a>
                <a class="textDecorationNoneColor1" href="mailto:engitech@mail.com">
                    <i class="fa-regular fa-envelope text-light pe-1"></i>
                    rh_management@mail.com
                </a>
            </div>
            <div class="d-flex flex-column col-lg-3 col-12 align-items-center pt-lg-0 pt-3">
                <h5 class="text-light fw-bold pb-4">Ubicación</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2505.184611399158!2d-74.0660906656252!3d4.641720903380222!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf34837fe0c5507db!2sBIT%20-%20Cursos%20de%20Programaci%C3%B3n%20en%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1665623642778!5m2!1ses!2sco" width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <section class="col-12 pt-5">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <img class="mx-2" width="70" height="70" src="assets/img/BIT-removebg-preview.png" alt="">
                    <p class="copyright-text">Copyright © 2022 ERP-RH-management. All Rights Reserved.</p>
                </div>
            </section>
        </section>
    </section>
</footer>
