<section class="bg-primary bg-gradient bg-opacity-25">

    <div class="pt-3 pb-5 px-3">
        <div class="d-flex card  flex-row">
            <div class=" sidebar-container px-2 py-1">
                <div class="logo">
                    <img src="assets/img/hospital.png" alt="" width="120" height="120">
                </div>
                <div class="menu d-flex flex-column align-items-center row pt-2 offset-1">
                    <a routerLink="/dashboard"><i class="fa-solid fa-house col-2 me-1"></i>Inicio</a>
                    <a routerLink="/listar-doctores"><i class="fa-solid fa-user-doctor col-2 me-1"></i>Doctores</a>
                    <a routerLink="/listar-pacientes"><i class="fa-solid fa-hospital-user col-2 me-1"></i>Pacientes</a>
                    <a routerLink="/"><i class="fa-solid fa-right-from-bracket col-2 me-1"></i>Salir</a>
                </div>
            </div>
            <div>
                <div class="w-100">
                    <nav class="navbar bg-secondary bg-gradient bg-opacity-25">
                        <div class="container-fluid">
                            <a class="navbar-brand px-3">En linea <i class="fa-solid fa-circle text-success w-25"></i>
                            </a>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </nav>
                </div>

                <section class="container-sm">
                    <div class="p-4 bg-light text-center">

                        <div class="d-flex justify-content-between pt-5">
                            <h3>Listar Doctores</h3>
                            <button class="btn-crear text-white" type="submit" routerLink="/registrar-doctores">
                                <i class="fa-solid fa-plus"></i>
                                Registrar doctor</button>
                        </div>
    
                        <div class="d-flex justify-content-center ">
                            <h4>total doctores:{{ listarDoctores.length }}</h4>
                        
                        </div>
                        <table *ngIf="listarDoctores.length > 0" class="table table-responsive table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Documento</th>
                                    <th>Numero de documento</th>
                                    <th>Fecha</th>
                                    <th>Correo</th>
                                    <th>Area</th>
                                    <th>Telefono</th>
                                    <th colspan="2">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let doctor of listarDoctores">
                                    <td>{{doctor.nombre}}</td>
                                    <td>{{doctor.apellido}}</td>
                                    <td>{{doctor.tipoIdentificacion}}</td>
                                    <td>{{doctor.numeroIdentificacion}}</td>
                                    <td>{{doctor.fecha}}</td>
                                    <td>{{doctor.correo}}</td>
                                    <td>{{doctor.area}}</td>
                                    <td>{{doctor.telefono}}</td>
                                    <td class="d-flex">
                                        <button [routerLink]="['/actualizar-doctor', doctor._id]"
                                            routerLinkActive="router-link-active"
                                            class="btn btn-primary bg-opacity-50 btn-sm mx-2 text-light">
                                            <i class="fa-solid fa-file-pen"></i>
                                            Actualizar</button>
                                        <button (click)="eliminarDoctores(doctor._id)" class="btn btn-danger btn-sm mx-2">
                                            <i class="fa-solid fa-trash-can"></i>
                                            Borrar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h2 class="text-center text-danger fw-bold" *ngIf="listarDoctores.length == 0">No hay doctores
                            registrados</h2>
                    </div>
                </section>
            </div>
        </div>
        
    </div>
</section>
<app-footer></app-footer>