.sidebar-container{
    background: var(--color-azul);
    min-height: 90vh;
    width: 200px;
}
.logo{
    display: flex;
    justify-content: center;
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-size: larger;
    margin-bottom: 2rem;
}
.btn-crear{
    background: var(--color-morado-slider);
}