<section class="bg-primary bg-gradient bg-opacity-25">

    <div class="pt-3 pb-5 px-3">
        <div class="d-flex card flex-row">
            <div class=" sidebar-container px-2 py-1">
                <div class="logo">
                    <img src="assets/img/hospital.png" alt="" width="120" height="120">
                </div>
                <div class="menu d-flex flex-column align-items-center row pt-2 offset-1">
                    <a routerLink="/dashboard"><i class="fa-solid fa-house col-2 me-1"></i>Inicio</a>
                    <a routerLink="/listar-doctores"><i class="fa-solid fa-user-doctor col-2 me-1"></i>Doctores</a>
                    <a routerLink="/listar-pacientes"><i class="fa-solid fa-hospital-user col-2 me-1"></i>Pacientes</a>
                    <a routerLink="/"><i class="fa-solid fa-right-from-bracket col-2 me-1"></i>Salir</a>
                </div>
            </div>

            <div class="w-100 d-flex flex-column">
                <div class="w-100">
                    <nav class="navbar bg-secondary bg-gradient bg-opacity-25">
                        <div class="container-fluid">
                            <a class="navbar-brand px-3">En linea <i class="fa-solid fa-circle text-success w-25"></i>
                            </a>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </nav>
                </div>

                <div class=" container-fluid w-25 pt-5">
                    <h1 class="text-center mb-3">Bienvenidos</h1>
                    <div class="card d-flex align-items-center p-5 border border-2 border-primary border-opacity-50">

                        <i class="fa-solid fa-user sizelog text-danger text-opacity-100"></i>
                        <h3 class="pt-3">Admin 1</h3>

                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</section>